<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>StrzelTu.pl - Shooters best range Directory</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% // <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> %>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <% // <script src="main.js" defer></script> %>
  <script src="/js/jquery.min.js" defer></script>
  <script src="/js/bootstrap.min.js" defer></script>
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">StrzelTu.pl</a>
      <button class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#strzeltu-nav-collapse" 
        aria-controls="strzeltu-nav-collapse" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="strzeltu-nav-collapse">
      <ul class="navbar-nav ml-auto">
      <% console.log(currentUser); %>
      <% if (!currentUser) { %>
        <li class="nav-item">
          <a href="/users" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a href="/users/new" class="nav-link">Register</a>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a href="#" class="nav-link">Logged in as <%= currentUser.username %></a>
        </li>
        <li class="nav-item">
          <a href="/users/logout" class="nav-link">Logout</a>
        </li>
      <% } %>
      </ul>
      </div>
    </div>
  </nav>
  <div class="mt-5"></div>
  <% if (error && error.length > 0) { %>
  <div class="alert alert-danger" role="alert">
    <%= error %>
  </div>
  <% } %>
  <% if (success && success.length > 0) { %>
  <div class="alert alert-success" role="alert">
    <%= success %>
  </div>
  <% } %>