<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>StrzelTu.pl - Shooters best range Directory</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% // <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> %>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <% // <script src="main.js" defer></script> %>
  <script src="/js/jquery.min.js" defer></script>
  <script src="/js/bootstrap.min.js" defer></script>
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">StrzelTu.pl</a>
      <button class="navbar-toggler" 
        type="button" data-toggle="collapse" data-target="#strzeltu-nav-collapse" 
        aria-controls="strzeltu-nav-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="strzeltu-nav-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/" class="nav-link">Login</a></li>
        <li class="nav-item"><a href="/" class="nav-link">Login</a></li>
        <li class="nav-item"><a href="/" class="nav-link">Login</a></li>
      </ul>
      </div>
    </div>
  </nav>
  <div class="mt-5"></div>