<% include ../partials/header.ejs %>

<div class="container">
  <div class="row justify-content-center">
    <div>
      <h2 class="my-3">This is new range form</h2>
      <form action="/ranges" method="post">
        <div class="form-group">
          <input class="form-control" type="text" name="name" placeholder="name of new range">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="image" placeholder="image url">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="shortDesc" placeholder="short description">
        </div>
        <div class="form-group">
          <input class="btn btn-dark btn-block" type="submit" value="Submit Range!">
        </div>
      </form>    
      <a href="/ranges">Go back</a>
    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>